<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" style="text/css" href="Static/homepage.css">
  <title>
    Hack Harrassment
  </title>
  <link rel="stylesheet" href="Static/homepage.css">
</head>
<body>
  <h1> SDHacks 2016 </h1>
  <ul><h2> How to Prevent Online Harrasment </h2>
    <li> Create an extention or plug in </li>
    <li> The extension detects hate speech (using an API)</li>
    <li> The hate speech text becomes hidden </li>
    <li> Users have the option to display the text we've hidden if they click 'show hidden comment'</li>
    <li> Every hate comment that the user decides to see, will be accompanied by a nice comment </li>
  </ul>

  <button class="accordion">Hate Comment 1</button>
  <div class="panel">
    <p>Original Comment: <i>Kill Yourself</i></p>
    <p>Friendly Reminder: <i>Kill them with kindness</i></p>
  </div>

  <button class="accordion">Hate Comment 2</button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>

  <button class="accordion">Hate Comment 3</button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>
  
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        this.nextElementSibling.classList.toggle("show");
    };
}
</script>
</body>
</html>